<div class="mb-2">
  <app-custom-navbar></app-custom-navbar>
</div>

<div class="flex flex-col">

    <div class="bg-indigo-500 flex flex-row justify-center">
      <p class="text-white text-4xl my-2">Ajouter une relève pour
        <a class="text-2xl ml-4 p-1 text-indigo-500 bg-white rounded-md" [routerLink]="['../../', this.instanceCompteurId]">
          Voir l'instance compteur
        </a>
      </p>
    </div>

    <div class="flex flex-row">
      <div class="flex flex-1 w-3/5 flex-col">
        <form
          (ngSubmit)="registerReleve()"
          class = "flex flex-col p-3 gap-y-2"
        >

          <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
            <span class="p-1 pl-1 text-indigo-500 text-xl font-bold pi pi-users"></span>
            <input type="text"
                   class="border-white w-full text-md focus:outline-none"
                   [(ngModel)]="releve$.operateurId"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="id agent">
          </div>
          <button
            disabled="{{this.releveARenseigner ? 'true' : 'false'}}"
            type="submit"
            class="flex flex-row justify-center items-center border-2 border-indigo-500 bg-indigo-500 text-white text-3xl">
            <span class="p-2">Ajouter</span>
            <span class="pi pi-arrow-right"></span>
          </button>
        </form>


        <form
          *ngIf="releveARenseigner"
          (ngSubmit)="demanderEnregistrementReleve()"
          class = "flex flex-col p-3 gap-y-2"
        >
          <div class="bg-white" >
            <div class="flex overflow-auto flex-col md:flex">
              <table class="">
                <thead>
                <tr class="bg-white border-b-2">
                  <th class="p-2 text-left">ID Relève</th>
                  <th class="p-2 text-left">ID instance cadran</th>
                  <th class="p-2 text-left">Prix watt</th>
                  <th class="p-2 text-left">Index roues</th>
                  <th class="p-2 text-left">Modifier</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let releveCadranDto of releveARenseigner.releveCadranDtos, let i=index" class="space-x-1 text-sm border-b-2 {{i%2==0?'bg-blue-300':'bg-white'}} ">
                  <td class="p-2 text-left">{{ releveCadranDto.releveCadranId }}</td>
                  <td class="p-2 text-left">{{ releveCadranDto.instanceCadranId }}</td>
                  <td class="p-2 text-left">{{ releveCadranDto.prixWatt }}</td>
                  <td class="p-2 text-left">
                    <input type="text"
                           class="border-white text-md focus:outline-none  p-1 rounded-lg {{i%2!=0?'bg-blue-300':'bg-white'}}"
                           [(ngModel)]="releveCadranDto.indexRoues"
                           [ngModelOptions]="{standalone:true}"
                    >
                  </td>
                  <td>
                    <div class="flex flex-row gap-x-2" (click)="updateReleveCadran()">
                      <a
                        class="flex justify-center items-center font-bold text-xl cursor-pointer bg-indigo-500 border-indigo-500 text-white hover:bg-white hover:text-indigo-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                        <span class="pi pi-file-edit"></span>
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>

