<div class="flex flex-col">

    <div class="bg-indigo-500 flex flex-row justify-center">
      <p class="text-white text-4xl my-2">Ajouter une relève</p>
    </div>
  
    <div class="flex flex-row">
      <div class="flex flex-1 w-3/5 flex-col">
        <form
          (ngSubmit)="registerReleve()"
          class = "flex flex-col p-3 gap-y-2"
        >
          <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
            <span class="p-1 pl-1 text-indigo-500 text-xl font-bold pi pi-gauge"></span>
            <input type="text"
                   class="border-white w-full text-md focus:outline-none"
                   [(ngModel)]="releve$.compteurId"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="id compteur">
          </div>
  
          <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
            <span class="p-1 pl-1 text-indigo-500 text-xl font-bold pi pi-home"></span>
            <input type="text"
                   class="border-white w-full text-md focus:outline-none"
                   [(ngModel)]="releve$.batimentId"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="id batiment">
          </div>
  
          <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
            <span class="p-1 pl-1 text-indigo-500 text-xl font-bold pi pi-users"></span>
            <input type="text"
                   class="border-white w-full text-md focus:outline-none"
                   [(ngModel)]="releve$.agentId"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="id agent">
          </div>
          <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
            <span class="p-1 pl-1 text-indigo-500 text-xl font-bold pi pi-calendar"></span>
            <input type="date"
                   class="border-white w-full text-md focus:outline-none"
                   [(ngModel)]="releve$.dateReleve"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="date releve">
          </div>
          

  
          <button type="submit" class="flex flex-row justify-center items-center border-2 border-indigo-500 bg-indigo-500 text-white text-3xl">
            <span class="p-2">Ajouter</span>
            <span class="pi pi-arrow-right"></span>
          </button>
  
        </form>
  
      </div>
    </div>
  
  </div>
