<app-custom-navbar></app-custom-navbar>

<div class="flex flex-row h-full">

  <div class="mt-2 w-1/5 h-full">
    <app-sidenav></app-sidenav>
  </div>

  <div class="w-4/5">
    <div class="mx-8 my-2">
      <div class="bg-indigo-500 flex flex-row justify-between">

        <p class="text-white text-4xl my-2">Gestion des batiments</p>

        <a class="flex flex-row items-center justify-center text-xl text-indigo-500 bg-white rounded-md m-2 p-1" [routerLink]="'ajouter-nouveau'">
          <span class="pi pi-plus mr-1"></span>
          Ajouter nouveau
        </a>
      </div>

      <div class="bg-white flex flex-row ">

        <div class="flex overflow-auto flex-col md:flex w-1/2">
          <table class="">
            <thead>
            <tr class="bg-white border-b-2">
              <th class="p-2 text-left">ID Bâtiment</th>
              <th class="p-2 text-left">adresse</th>
              <th class="p-2 text-left">Nombre étages</th>
              <th class="p-2 text-left">Type batiment</th>
              <th class="p-2 text-left">Détails</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let batiment of batiments, let i=index" class="space-x-1 text-sm border-b-2 {{i%2==0?'bg-blue-300':'bg-white'}} ">
                <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ batiment.batimentId }}</td>
                <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ batiment.adresse }}</td>
                <td class="p-2 text-left">{{ batiment.nombreEtages}}</td>
                <td class="p-2 text-left">{{ batiment.typeBatiment }}</td>
                <td class="p-2 text-left">
                  <div
                    (click)="voirDetailsBatiment(batiment.batimentId)"
                    class="flex flex-row justify-center items-center w-10 h-10 cursor-pointer text-indigo-500 text-xl p-2 rounded-full {{batimentEstActif(batiment.batimentId)?'bg-indigo-500 text-white':'bg-white text-indigo-500'}}">
                    <span class="{{batimentEstActif(batiment.batimentId)?'pi pi-eye':'pi pi-eye-slash'}}"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="w-1/2 hauteur-pleine">
          <div
            *ngIf="batimentActif"
            class="hauteur-pleine"
          >
            <p class="text-indigo-500 text-2xl my-2">Bâtiment actif : {{batimentActif.adresse}}</p>

            <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
              <span class="p-1 text-indigo-500 w-full mr-2 text-xl font-bold">Numéro bâtiment</span>
              <input type="text"
                     [disabled]="true"
                     class="border-white text-md w-full focus:outline-none"
                     [(ngModel)]="batimentActif.batimentId"
                     [ngModelOptions]="{standalone: true}"
                     placeholder="Numéro bâtiment">
            </div>

            <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
              <span class="p-1 text-indigo-500 w-full mr-2 text-xl font-bold">adresse bâtiment</span>
              <input type="text"
                     [disabled]="false"
                     class="border-white text-md focus:outline-none w-full"
                     [(ngModel)]="batimentActif.adresse"
                     [ngModelOptions]="{standalone: true}"
                     placeholder="adresse bâtiment">
              <p
                class="cursor-pointer bg-indigo-500 text-white p-1
                       text-2xl hover:bg-white hover:text-indigo-500"
                (click)="updateAdresseBatiment(batimentActif.batimentId)"
              >
                Modifier
              </p>
            </div>

            <p class="text-white bg-indigo-500 text-center text-4xl my-2">Détails des compteurs</p>

            <table class="w-full">
              <thead>
              <tr class="bg-white border-b-2">
                <th class="p-2 text-left">ID Instance compteur</th>
                <th class="p-2 text-left">ID Compteur</th>
                <th class="p-2 text-left">Date d'installation</th>
                <th class="p-2 text-left">Consulter</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let instanceCompteur of batimentActif.instanceCompteursDtos, let i=index" class="space-x-1 text-sm border-b-2 {{i%2==0?'bg-blue-300':'bg-white'}} ">
                <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ instanceCompteur.instanceCompteurId }}</td>
                <td class="p-2 text-left font-bold text-blue-600 hover:underline">
                  <a
                    class="cursor-pointer"
                    [routerLink]="['/compteurs/details-modification',instanceCompteur.compteurId]"
                  >
                    {{ instanceCompteur.compteurId }}
                  </a>
                </td>
                <td class="p-2 text-left">{{ instanceCompteur.dateInstallation | formatterDate }}</td>
                <td class="p-2 text-left">
                  <div
                    [routerLink]="['/releves/instance-compteur', instanceCompteur.instanceCompteurId]"
                    class="flex flex-row justify-center items-center w-10 h-10 cursor-pointer text-xl p-2 rounded-full hover:bg-indigo-500 hover:text-white bg-white text-indigo-500 ">
                    <span class="pi pi-link"></span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <a class="flex flex-row items-center justify-center text-xl text-indigo-500 bg-white hover:bg-indigo-500 hover:text-white rounded-md m-2 p-1" [routerLink]="'ajouter-nouveau'">
              <span class="pi pi-plus mr-1"></span>
              Ajouter nouvelle instance
            </a>


          </div>
          <div
            *ngIf="!batimentActif"
            class="flex flex-col justify-center items-center hauteur-pleine"
          >
            <p class="text-indigo-500 text-3xl">Aucun bâtiment n'est actif</p>
            <span class="pi pi-question-circle text-indigo-500 text-7xl"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
