<app-custom-navbar></app-custom-navbar>

<div class="flex flex-row h-full">

  <div class="mt-2 w-1/5">
    <app-sidenav></app-sidenav>
  </div>

  <div class="w-4/5">
    <div class="mx-8 my-2">
      <div class="bg-indigo-500 flex flex-row justify-between">
        <p class="text-white text-4xl my-2">Gestion des batiments</p>
        <a class="flex flex-row items-center justify-center text-xl text-indigo-500 bg-white rounded-md m-2 p-1" [routerLink]="'ajouter-nouveau'">
          <span class="pi pi-plus mr-1"></span>
          Ajouter nouveau
        </a>
      </div>
      <div class="bg-white">
        <div class="flex overflow-auto flex-col md:flex">
          <table class="">
            <thead>
            <tr class="bg-white border-b-2">
              <th class="p-2 text-left">Identifiant</th>
              <th class="p-2 text-left">Adresse</th>
              <th class="p-2 text-left">Nombre étages</th>
              <th class="p-2 text-left">Type batiment</th>
              <th class="p-2 text-left">Détails</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
