<app-custom-navbar></app-custom-navbar>
<div class="mt-1 bg-indigo-500 flex flex-row justify-center items-center">
  <p class="text-white text-4xl my-2">Détail relève : {{ releve.releveId}}
    <a class="text-2xl ml-4 p-1 text-indigo-500 bg-white rounded-md" [routerLink]="['../../', releve.instanceCompteurId]">
      Voir l'instance compteur
    </a>
  </p>
</div>
  <div class="flex flex-row">
    <div class="flex flex-1 w-3/5 flex-col">
      <form
        (ngSubmit)="updateReleve()"
        class = "flex flex-col p-3 gap-y-2"
      >
        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Numéro relève</span>
          <input type="text"
                 [disabled]="true"
                 class="border-white text-md focus:outline-none"
                 [(ngModel)]="releve.releveId"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Nom de la relève">
        </div>

        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Numéro relève</span>
          <input type="text"
                 class="border-white text-md focus:outline-none"
                 [(ngModel)]="releve.compteurId"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Numéro compteur">
        </div>

        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Numéro de l'agent</span>
          <input type="text"
                 class="border-white text-md focus:outline-none"
                 [(ngModel)]="releve.agentId"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Numéro de l'agent">
        </div>


        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Date de la relève</span>
          <input type="date"
                 [disabled]="true"
                 class="border-white text-md focus:outline-none"
                 [ngModel]="formatterDate(releve.dateReleve)"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>
        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Nouvelle date</span>
          <input type="date"
                 class="border-white text-md focus:outline-none"
                 [(ngModel)]="releve.dateReleve"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>



        <div class="flex flex-row bg-white border-2 m-1 border-indigo-500">
          <span class="p-1 text-indigo-500 w-auto mr-2 text-xl font-bold">Numéro du bâtiment</span>
          <input type="text"
                 class="border-white text-md focus:outline-none"
                 [(ngModel)]="releve.batimentId"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Numéro du bâtiment">
        </div>

        <div class="mt-1 bg-indigo-500 flex flex-row justify-center items-center">
          <p class="text-white text-4xl my-2">Détails des cadrans</p>
        </div>

        <div class="bg-white">
          <div class="flex overflow-auto flex-col md:flex">
            <table class="">
              <thead>
              <tr class="bg-white border-b-2">
                <th class="p-2 text-left">ID instance</th>
                <th class="p-2 text-left">ID cadran</th>
                <th class="p-2 text-left">Index des roues</th>
                <th class="p-2 text-left">Modifier</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let instanceCadran of releve.releveCadrans, let i=index" class="space-x-1 text-sm border-b-2 {{i%2==0?'bg-blue-300':'bg-white'}} ">
                <td class="p-2 text-left">{{ instanceCadran.instanceCadranId }}</td>
                <td class="p-2 text-left">{{ instanceCadran.cadranId }}</td>
                <td class="p-2 text-left">
                  <input type="text"
                         class="border-white text-md focus:outline-none  p-1 rounded-lg {{i%2!=0?'bg-blue-300':'bg-white'}}"
                         [(ngModel)]="instanceCadran.indexRoues"
                         [ngModelOptions]="{standalone:true}"
                  >
                </td>
                <td>
                  <div class="flex flex-row gap-x-2" (click)="updateReleveCadran()">
                    <a
                      class="flex justify-center items-center font-bold text-xl cursor-pointer bg-indigo-500 border-indigo-500 text-white hover:bg-white hover:text-indigo-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                      <span class="pi pi-file-edit"></span>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <button
          [routerLink]="'/releves'"
          type="button" class="flex flex-row justify-center items-center border-2 border-red-500 bg-red-500 text-white text-3xl">
          <span class="p-2">Quitter</span>
          <span class="pi pi-arrow-left"></span>
        </button>

        <button
          type="submit" class="flex flex-row justify-center items-center border-2 border-indigo-500 bg-indigo-500 text-white text-3xl">
          <span class="p-2">Modifier</span>
          <span class="pi pi-arrow-right"></span>
        </button>
      </form>
    </div>
  </div>


