<app-custom-navbar></app-custom-navbar>

<div class="flex flex-row h-full">

  <div class="mt-2 w-1/5">
    <app-sidenav></app-sidenav>
  </div>

  <div class="w-4/5">
    <div class="mx-8 my-2">
      <div class="bg-indigo-500 flex flex-row justify-between">
        <p class="text-white text-4xl my-2">Liste des relèves : instance compteur n° {{ this.instanceCompteurId }}</p>
        <a class="flex flex-row items-center justify-center text-xl text-indigo-500 bg-white rounded-md m-2 p-1" [routerLink]="['../ajouter-nouveau',this.instanceCompteurId]">
          <span class="pi pi-plus mr-1"></span>
          Ajouter nouveau
        </a>
      </div>
      <div class="bg-white">
        <div class="flex overflow-auto flex-col md:flex">
          <table class="">
            <thead>
            <tr class="bg-white border-b-2">
              <th class="p-2 text-left">ID Relève</th>
              <th class="p-2 text-left">Agent</th>
              <th class="p-2 text-left">Date</th>
              <th class="p-2 text-left">Batiment</th>
              <th class="p-2 text-left">Type compteur</th>
              <th class="p-2 text-left">Actions</th>
            </tr>
            </thead>
            <tr *ngFor="let releve of instanceCompteur.releves, let i=index" class="space-x-1 text-sm border-b-2 {{i%2==0?'bg-blue-300':'bg-white'}} ">
              <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ releve.releveId }}</td>
              <td class="p-2 text-left font-bold text-blue-600 hover:underline">
                <a
                  class="cursor-pointer"
                  [routerLink]="['/agents/details-modification',releve.agentId]"
                >
                  {{ releve.agentId }}
                </a>
              </td>

              <td class="p-2 text-left">{{ releve.dateReleve | formatterDate }}</td>

              <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ instanceCompteur.batimentId }}</td>

              <td class="p-2 text-left font-bold text-blue-600 hover:underline">
                <a
                  class="cursor-pointer"
                  [routerLink]="['/compteurs/details-modification',instanceCompteur.compteurId]"
                >
                  {{ instanceCompteur.compteurId }}
                </a>
              </td>

              <td>
                <div class="flex flex-row gap-x-2">
                  <a
                    [routerLink]="['../details-modification',releve.releveId]"
                    class="flex justify-center items-center font-bold text-xl cursor-pointer bg-indigo-500 border-indigo-500 text-white hover:bg-white hover:text-indigo-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                    <span class="pi pi-file-edit"></span>
                  </a>
                  <button
                    (click)="deleteReleve(releve.releveId)"
                    class="flex justify-center items-center font-bold text-xl cursor-pointer bg-red-500 border-red-500 text-white hover:bg-white hover:text-red-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                    <span class="pi pi-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
