<app-custom-navbar></app-custom-navbar>

<div class="flex flex-row h-full">

  <div class="mt-2 w-1/5">
    <app-sidenav></app-sidenav>
  </div>

  <div class="w-4/5">
    <div class="mx-8 my-2">
      <div class="bg-indigo-500 flex flex-row justify-center">
        <p class="text-white text-4xl my-2">Liste des relèves</p>
      </div>
      <div class="bg-white">
        <div class="flex overflow-auto flex-col md:flex">
          <table class="">
            <thead>
            <tr class="bg-white border-b-2">
              <th class="p-2 text-left">ID Relève</th>
              <th class="p-2 text-left">Agent</th>
              <th class="p-2 text-left">Date</th>
              <th class="p-2 text-left">Batiment</th>
              <th class="p-2 text-left">Compteur</th>
            </tr>
            </thead>
            <tr *ngFor="let releve of releves" class="space-x-1 text-sm border-b-2 bg-blue-300 ">
              <td class="p-2 text-left font-bold text-blue-600 hover:underline">{{ releve.releveId }}</td>
              <td class="p-2 items-center">
                <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cGVyc29ubmVzfGVufDB8fDB8fHww" alt="Employee photo" class="w-10 h-10 object-cover rounded-full border-2 border-cyan-900">
              </td>
              <td class="p-2 text-left ">{{ releve.agentId }}</td>
              <td class="p-2 text-left">{{ releve.dateReleve }}</td>
              <td>


                <div class="flex flex-row gap-x-2">
                  <a
                    [routerLink]="['details-modification',releve.releveId]"
                    class="flex justify-center items-center font-bold text-xl cursor-pointer bg-indigo-500 border-indigo-500 text-white hover:bg-white hover:text-indigo-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                    <span class="pi pi-file-edit"></span>
                  </a>
                  <button
                    (click)="deleteReleve(releve.releveId)"
                    class="flex justify-center items-center font-bold text-xl cursor-pointer bg-red-500 border-red-500 text-white hover:bg-white hover:text-red-500 hover:border-white rounded-full border-2 p-1 w-12 h-12">
                    <span class="pi pi-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

