<div class="flex flex-col justify-around items-center m-4 p-4 h-auto w-auto rounded-lg bg-indigo-500">
  <p class="text-white font-bold text-xl p-2">Authentification</p>

  <p class="text-white font-bold text-xl p-2 mt-2">
    {{isRegie? "Régie" : "Administrateur"}}
  </p>

  <form
    *ngIf="isRegie"
    (ngSubmit)="loginRegie()"
  >
    <div class="flex flex-row items-center bg-white rounded-lg pr-6">
      <span class="p-2 pl-1 text-indigo-500 text-xl font-bold pi pi-envelope"></span>
      <input
        [(ngModel)]="regie.email"
        [ngModelOptions]="{standalone: true}"
        type="text"
        placeholder="Your email address"
        class="p-2 text-md rounded-lg">
    </div>
    <div class="flex flex-row items-center bg-white rounded-lg pr-6 mt-4">
      <span class="p-2 pl-1 text-indigo-500 text-xl font-bold pi pi-lock"></span>
      <input
        [(ngModel)]="regie.password"
        [ngModelOptions]="{standalone: true}"
        type="password"
        placeholder="Your password"
        class="p-2 text-md rounded-lg">
    </div>
    
    <div class="flex flex-row mt-12 justify-end">
      <button
        type="submit"
        class="ml-2 mt-2 bg-indigo-600 hover:bg-white hover:border-2 hover:border-indigo-800 rounded-lg">
        <p class="text-white hover:text-indigo-600 font-bold p-2">Envoyer</p>
      </button>
      <button
        type="reset"
        class="ml-2 mt-2 bg-red-600 hover:bg-white hover:border-2 hover:border-red-600 rounded-lg">
        <p class="text-white hover:text-red-600 font-bold p-2">Réinitialiser</p>
      </button>
    </div>
  </form>

  <form
    *ngIf="!isRegie"
    (ngSubmit)="loginAdmin()"
  >
    <div class="flex flex-row items-center bg-white rounded-lg pr-6">
      <span class="p-2 pl-1 text-indigo-500 text-xl font-bold pi pi-envelope"></span>
      <input
        [(ngModel)]="admin.email"
        [ngModelOptions]="{standalone: true}"
        type="text"
        placeholder="Your email address"
        class="p-2 text-md rounded-lg">
    </div>
    <div class="flex flex-row items-center bg-white rounded-lg pr-6 mt-4">
      <span class="p-2 pl-1 text-indigo-500 text-xl font-bold pi pi-lock"></span>
      <input
        [(ngModel)]="admin.password"
        [ngModelOptions]="{standalone: true}"
        type="password"
        placeholder="Your password"
        class="p-2 text-md rounded-lg">
    </div>
    
    <div class="flex flex-row mt-12 justify-end">
      <button
        type="submit"
        class="ml-2 mt-2 bg-indigo-600 hover:bg-white hover:border-2 hover:border-indigo-600 rounded-lg">
        <p class="text-white hover:text-indigo-600 font-bold p-2">Envoyer</p>
      </button>
      <button
        type="reset"
        class="ml-2 mt-2 bg-red-600 hover:bg-white hover:border-2 hover:border-red-600 rounded-lg">
        <p class="text-white hover:text-red-600 font-bold p-2">Réinitialiser</p>
      </button>
    </div>
  </form>

  <button class="ml-2 mt-4 bg-red-600 hover:bg-white hover:border-2 hover:border-red-600 rounded-lg"
          (click)="setIsRegie()"
  >
    <p class="text-white hover:text-red-600 font-bold p-2">
      {{isRegie? "Je suis un administrateur" : "Se connecter en tant que régie"}}
    </p>
  </button>


</div>
